<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>luv2code - Access Denied</title>
</head>
<body>

<h2>Access Denied - You are not authorized to access this resource.</h2>

<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>
</html>