<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Confirmation</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

	<h2>User registered successfully!</h2>

	<!-- display first name, last name and email -->
	<ul>
		<li th:text="'Username: ' + ${savedUser.username}"></li>
		<li th:text="'Name: ' + ${savedUser.name}"></li>
		<li th:text="'Phone Number: ' + ${savedUser.phoneNumber}"></li>
		<li th:text="'Email: ' + ${savedUser.email}"></li>
		<li th:text="'Role: ' + ${savedUser.role.name}"></li>
	</ul>

	<hr>
	
	<a th:href="@{/showLoginPage}">Login with new user name</a>
	
</body>

</html>