<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="container">

    <div id="loginbox" style="margin-top: 50px;"
         class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="card border-info">

            <div class="card-header bg-info">
                New User Registration
            </div>

            <div class="card-body">

                <div class="card-text">

                    <!-- Registration Form -->
                    <form action="#" th:action="@{/register/processRegistration}"
                          th:object="${newUser}"
                          method="POST" class="form-horizontal">

                        <!-- Place for messages: error, alert etc ... -->
                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>

                                    <!-- Check for login error -->

                                    <div th:if="${param.registrationError}">

                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            <span th:text="${param.registrationError}"></span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- User name -->
                        <div style="margin-bottom: 25px" class="form-group">
                            <span th:if="${#fields.hasErrors('username')}" th:each="err : ${#fields.errors('username')}"
                                  th:text="${err}" class="text-danger"></span>
                            <input type="text" th:field="*{username}" placeholder="Username (*)" class="form-control"/>
                        </div>


                        <!-- Password -->
                        <div style="margin-bottom: 25px" class="form-group">
                            <span th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}"
                                  th:text="${err}" class="text-danger"></span>
                            <input type="password" th:field="*{password}" placeholder="Password (*)"
                                   class="form-control"/>
                        </div>


                        <!-- First Name -->
                        <div style="margin-bottom: 25px" class="form-group">
                              <span th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}"
                                    th:text="${err}" class="text-danger"></span>
                            <input type="text" th:field="*{name}" placeholder="Name (*)" class="form-control"/>
                        </div>


                        <!-- Email -->
                        <div style="margin-bottom: 25px" class="form-group">
                              <span th:if="${#fields.hasErrors('email')}" th:each="err : ${#fields.errors('email')}"
                                    th:text="${err}" class="text-danger"></span>
                            <input type="text" th:field="*{email}" placeholder="Email (*)" class="form-control"/>
                        </div>


                        <!-- Phone number -->
                        <div style="margin-bottom: 25px" class="form-group">
                              <span th:if="${#fields.hasErrors('phoneNumber')}" th:each="err : ${#fields.errors('phoneNumber')}"
                                    th:text="${err}" class="text-danger"></span>
                            <input type="text" th:field="*{phoneNumber}" placeholder="Phone number (*)"
                                   class="form-control"/>
                        </div>

                        <!-- Role -->

                        <div style="margin-bottom: 25px" class="form-group">
                            <label for="role">Role (*) </label>
                            <select class="form-control" id="role" name="role">
                                <option th:each="role : ${roleMap}" th:value="${role.key}"
                                        th:text="${role.value}"></option>
                            </select>
                        </div>

                        <!-- Registration Button -->
                        <div style="margin-top: 10px" class="form-group">
                            <div class="col-sm-6 controls">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>