<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FullCart - Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand h1" th:href="@{/}">FullCart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}
                                            and ${#authorization.expression('hasAuthority(''Customer'')')}">
                <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}
                                            and ${#authorization.expression('hasAuthority(''Seller'')')}">
                <a class="nav-link" th:href="@{/product/my-products}">My Products and Orders</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link font-weight-bold h5" th:href="@{${'/profile/'+user.getId()}(type=details)}" th:text="${#strings.capitalize(user.name)}"></a>
            </li>
            <li class="nav-item active" th:if="${#authorization.expression('!isAuthenticated()')}">
                <a class="nav-link" th:href="@{/showLoginPage}"><span class="glyphicon glyphicon-log-in"
                                                                      aria-hidden="true"></span>&nbsp;Sign in</a>
            </li>

            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-danger">
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container p-4">
    <div class="row justify-content-center">
        <div class="input-group my-4 col-12 mx-auto">

            <label for="products-search" class="h3 mr-2">
                Search for product
            </label>
            <input class="form-control" type="search"
                   id="products-search">
            <span class="input-group-text border-0" id="search-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
            </span>
            <div class="dropdown-menu" style="width: 80%" id="products-data-list">

            </div>
        </div>
        <div class="col-12"></div>
    </div>
    <div class="card m-2">
        <div class="card-header">
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <h1 th:text="'Welcome Back '+${user.name}+'.'"></h1>
            </div>
            <div th:if="${!#authorization.expression('isAuthenticated()')}">
                <h1>Welcome Guest we wish you enjoy our platform.</h1>
                <h4>For full access <a href="#" th:href="@{/register/showRegistrationForm}">register</a>
                    or if you are already a user <a href="#" th:href="@{/showLoginPage}">login</a>.</h4>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const productsSearch = document.getElementById("products-search")
    const productsDataList = document.getElementById("products-data-list")


    const debounce = (func, delay = 500) => {
        let debounceTimer
        return function () {
            const context = this
            const args = arguments
            clearTimeout(debounceTimer)
            debounceTimer
                = setTimeout(() => func.apply(context, args), delay)
        }
    }


    productsSearch.addEventListener('keyup', debounce(async (event) => {

        const searchValue = productsSearch.value
        productsDataList.innerHTML = ''
        if (searchValue) {
            const response = await fetch(`/product/search?search=${searchValue}`)
            const data = await response.json()
            for (const [id, productName] of Object.entries(data)) {
                let newA = document.createElement("a")
                newA.text = productName
                newA.href = `/product/${id}`
                newA.classList.add("dropdown-item")
                productsDataList.appendChild(newA)
            }
            productsDataList.classList.add("show")
        } else {
            productsDataList.classList.remove("show")
        }

    }))

</script>
</html>