<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FullCart - Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand h1" th:href="@{/}">FullCart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}
                                            and ${#authorization.expression('hasAuthority(''Customer'')')}">
                <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item active" th:if="${#authorization.expression('isAuthenticated()')}
                                            and ${#authorization.expression('hasAuthority(''Seller'')')}">
                <a class="nav-link" href="javascript:void(0);">My Products and Orders</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item " th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link font-weight-bold h5" th:href="@{${'/profile/'+user.getId()}(type=details)}"
                   th:text="${#strings.capitalize(user.name)}"></a>
            </li>
            <li class="nav-item active" th:if="${#authorization.expression('!isAuthenticated()')}">
                <a class="nav-link" th:href="@{/showLoginPage}"><span class="glyphicon glyphicon-log-in"
                                                                      aria-hidden="true"></span>&nbsp;Sign in</a>
            </li>

            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-danger">
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Orders</h1>
            <div class="btn-group d-flex m-3" role="group" aria-label="...">
                <a href="#" class="btn btn-success w-100">Orders History</a>
                <a href="#" class="btn btn-success w-100">Pending Orders</a>
                <a href="#" class="btn btn-success w-100">Right</a>
            </div>
            <div class="row m-2">
                <h4>
                    Latest 10 pending orders
                </h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h1>Products</h1>
            <div class="btn-group d-flex m-3" role="group" aria-label="...">
                <a data-toggle="modal"
                   data-target="#addProduct" href="javascript:void(0);"
                   class="btn btn-info w-100">Add product</a>
                <a href="#" class="btn btn-info w-100">View all products</a>
                <a href="#" class="btn btn-info w-100">Right</a>
            </div>
            <div class="row my-1 align-content-start" style="height: 500px;overflow: scroll;">
                <h4>
                    Latest 10 products
                </h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product,iter : ${myProducts}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td class="text-break" th:text="${product.description}"></td>
                        <td>
                            <a th:if="${product.image != ''} and ${product.image!=null}" target="_blank"
                               th:href="@{/product/img(img=${product.image})}" class="btn btn-secondary">
                                <!--                            <a th:if="${product.image != ''} and ${product.image!=null}" href="#"-->
                                <!--                               class="btn btn-secondary">-->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-file-earmark-image" viewBox="0 0 16 16">
                                    <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                    <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5V14zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4z"></path>
                                </svg>
                            </a>
                        </td>

                        <td style="width: 35%;">
                            <div class="btn-group">
                                <a class="btn btn-outline-dark" id="change-price-btn"
                                   href="javascript:void(0);"
                                   th:attr="onclick=|change_price('${product.id}')|">Price</a>
                                <a class="btn btn-outline-secondary"
                                   href="javascript:void(0);"
                                   th:attr="onclick=|add_quantity('${product.id}')|"
                                >Add quantity</a>
                                <a class="btn btn-outline-info">Details</a>
                                <a class="btn btn-outline-danger"
                                   th:href="@{${'/product/delete/'+product.id}}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form action="#" th:action="@{/product/changePrice}"
      method="POST" id="change-price-form">
    <input type="hidden" name="pricingProductId" id="pricingProductId">
    <input type="hidden" name="pricingPrice" id="pricingPrice">
</form>
<form action="#" th:action="@{/product/addQuantity}"
      method="POST" id="add-quantity-form">
    <input type="hidden" name="addQuantityProductId" id="addQuantityProductId">
    <input type="hidden" name="quantity" id="quantity">
</form>
<div id="addProduct" th:classappend="${showModal}? 'modal show': 'modal'"
     th:style="${showModal}?'display: block; padding-right: 17px;':'display: none;'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add new product</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="#" th:action="@{/product/add}" th:object="${newProduct}" method="POST"
                  enctype="multipart/form-data" id="addProductForm">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="m-2 form-group">
                                <div class="input-group">
                                    <label for="newProductName">Name (*) </label>
                                    <span th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}"
                                          th:text="${err}" class="text-danger mx-2"></span>
                                </div>
                                <input type="text" id="newProductName" th:field="*{name}" class="form-control"
                                       th:classappend="${#fields.hasErrors('name')?'border-danger':''}">
                            </div>

                        </div>
                        <div class="col">
                            <div class="m-2 form-group">
                                <div class="input-group">
                                    <label for="newProductCategory">Category (*) </label>

                                </div>
                                <select class="form-control" id="newProductCategory" name="newProductCategory">
                                    <option th:each="category : ${categoriesMap}" th:value="${category.key}"
                                            th:text="${category.value}"></option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="m-2 form-group">
                                <div class="input-group">
                                    <label for="newProductPrice">Price (*)</label>
                                    <span th:if="${#fields.hasErrors('price')}"
                                          th:each="err : ${#fields.errors('price')}"
                                          th:text="${err}" class="text-danger mx-2"></span>
                                </div>
                                <input type="number" step="any" min="0" id="newProductPrice" th:field="*{price}"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('price')?'border-danger':''}"
                                >
                            </div>
                        </div>
                        <div class="col">
                            <div class="m-2 form-group">
                                <div class="input-group">
                                    <label for="newProductQuantity">Quantity (*)</label>
                                    <span th:if="${#fields.hasErrors('quantity')}"
                                          th:each="err : ${#fields.errors('quantity')}"
                                          th:text="${err}" class="text-danger mx-2"></span>
                                </div>
                                <input type="number" min="0" id="newProductQuantity" th:field="*{quantity}"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('quantity')?'border-danger':''}">
                            </div>
                        </div>

                        <div class="col">
                            <div class="m-2 form-group">
                                <div class="input-group">
                                    <label for="newProductImage">Image</label>
                                    <span th:if="${#fields.hasErrors('image')}"
                                          th:each="err : ${#fields.errors('image')}"
                                          th:text="${err}" class="text-danger mx-2"></span>
                                </div>
                                <input type="file" id="newProductImage" name="newProductImage" accept="image/*">
                                <input type="hidden" id="newProductImageHidden" th:field="*{image}">
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('description')}"
                                      th:each="err : ${#fields.errors('description')}"
                                      th:text="${err}" class="text-danger mx-2"></span>
                                <div class="input-group m-2">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description (*)</span>
                                    </div>
                                    <textarea id="newProductDescription" th:field="*{description}" class="form-control"
                                              aria-label="With textarea"
                                              th:classappend="${#fields.hasErrors('description')?'border-danger':''}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-success">Save</button>

                </div>
            </form>

        </div>
    </div>
</div>
<div th:if="${showModal}" class="modal-backdrop show"></div>
</body>
<script>
    const image_input = document.getElementById("newProductImage")
    const image_hidden_input = document.getElementById("newProductImageHidden")
    const add_product_form = document.getElementById("addProductForm")

    image_input.addEventListener("change", (e) => {
        image_hidden_input.value = e.target.files[0].name
    })

    function change_price(id) {
        const pricing_price = document.getElementById("pricingPrice")
        const change_price_form = document.getElementById("change-price-form")
        const pricing_product_id = document.getElementById("pricingProductId")
        pricing_price.value = prompt("Please enter new price:")
        pricing_product_id.value = id
        if (pricing_price.value != null && pricing_price.value !== "" && !isNaN(Number(pricing_price.value))) {
            change_price_form.submit()
        } else {
            pricing_price.value = ""
            pricing_product_id.value = ""
        }
    }

    function add_quantity(id) {
        const quantity = document.getElementById("quantity")
        const add_quantity_form = document.getElementById("add-quantity-form")
        const add_quantity_product_id = document.getElementById("addQuantityProductId")
        quantity.value = prompt("Please enter quantity added:")
        add_quantity_product_id.value = id
        if (quantity.value != null && quantity.value !== "" && !isNaN(Number(quantity.value))) {
            add_quantity_form.submit()
        } else {
            quantity.value = ""
            add_quantity_product_id.value = ""
        }
    }

</script>
</html>